</div>
</div>
<script src="./plugins/jquery/jquery.min.js"></script>
<script src="./plugins/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="./dist/js/adminlte.js"></script>
<script src="./js/member/member.js"></script>
</body>

</html>